  <div class="rant-box">

    <h2>Why am I always hungry?</h2>

    <div class="delete-button">
      <i class="fa fa-trash-o"></i> Delete
    </div>

    <div class="cancel-button">
    <i class="fa fa-sign-in"></i> Cancel
    </div>

    <div class="body-button">
      <i class="fa fa-upload"></i> Save
    </div>

    <div class="body-button">
      <i class="fa fa-edit"></i> Edit
    </div>


  <br>
    <div class="avatar">

    </div>

    <div class="rant-post">
      asdfasf sadf asdf asd f asfas fsafw fe wads idsfsjfpo ewpoiposfjsd flasjdf jsaf
      aois flskjfnmne ewn ewn nwowirjosidj
    </div>

  </div>

  <div class="rant-box">

    <h2>Why does it have to snow?!?!?!</h2>

    <div class="delete-button">
      X Delete
    </div>

    <div class="cancel-button">
      X Cancel
    </div>

    <div class="body-button">
      X Edit
    </div>
  <br>
    <div class="avatar">

    </div>

    <div class="rant-post">
      asdfasf sadf asdf asd f asfas fsafw fe wads idsfsjfpo ewpoiposfjsd flasjdf jsaf
      aois flskjfnmne ewn ewn nwowirjosidj
    </div>

  </div>

  <div class="rant-box">

    <h2>Indeed.</h2>

    <div class="delete-button">
      X Delete
    </div>

    <div class="cancel-button">
      X Cancel
    </div>

    <div class="body-button">
      X Edit
    </div>
  <br>
    <div class="avatar">

    </div>

    <div class="rant-post">
      asdfasf sadf asdf asd f asfas fsafw fe wads idsfsjfpo ewpoiposfjsd flasjdf jsaf
      aois flskjfnmne ewn ewn nwowirjosidj
    </div>

  </div>
