
  <div class= "navbar">
    <div class="container">
      Rantly
    </div>
  </div>

  <div class="header">
    <div class="container">
      Search
      <div class="new-button">
        New Rant
      </div>
    </div>
  </div>

<div class="container">

  <div class="delete-button">
    X Delete
  </div>

  <div class="cancel-button">
    X Cancel
  </div>

  <div class="body-button">
    X Edit
  </div>

  <div class="profile-box">
    <div class="profile-pic">
    </div>
    <br>
      <div class="profile-button">
        Log Out
      </div>
  </div>





</div>



  {{outlet}}
