
  <div class= "navbar">
    <div class="container">
      Rantly
    </div>
  </div>

  <div class="header">
    <div class="container">
      Search
      <div class="new-button">
        New Rant
      </div>
    </div>
  </div>

<div class="container">
  <div class="profile-box">
    <div class="profile-pic">
    </div>
    <br>
      <div class="body-button">
        Log Out
      </div>
  </div>
</div>

  {{outlet}}
